
To Admin


Notification to the admin about new Appointment

<p> Hola [ADMIN_NAME], </p>
<p> Nueva Reserva id : [APPOINTMENT_ID] </p>
<p> Servicio: [SERVICE]</p>
<p> Día y hora: [APPOINTMENT_DATE] - [APPOINTMENT_TIME] </p>
<p> Datos del cliente: </p>
  <ul>
	<li>Nombre: [CLIENT_NAME]</li>
	<li>Phone: [CLIENT_PHONE]</li>
	<li>Email: [CLIENT_EMAIL]</li>
  </ul>
<p>Cantidad a pagar por el cliente : [AMOUNT]</p>
<p>Nombre del personal: [STAFF_NAME]</p>
<p>[APPOINTMENT_BODY]</p>




Notification to the admin regarding modified Appointment

<p> Hola [ADMIN_NAME], </p>
<p> Tu id de reserva : [APPOINTMENT_ID] fué modificada</p>
<p> Día y hora: [APPOINTMENT_DATE] - [APPOINTMENT_TIME] </p>
<p> Datos del cliente: </p>
  <ul>
	<li>Nombre: [CLIENT_NAME]</li>
	<li>Phone: [CLIENT_PHONE]</li>
	<li>Email: [CLIENT_EMAIL]</li>
  </ul>
<p>Cantidad a pagar por el cliente : [AMOUNT]</p>
<p>Nombre del personal: [STAFF_NAME]</p>
<p>[APPOINTMENT_BODY]</p>



Notification to the admin regarding Deleted / Declined Appointment

<p> Hola [ADMIN_NAME], </p>
<p> Tu id de reserva : [APPOINTMENT_ID] fué borrada / rechazada</p>
<p> Día y hora: [APPOINTMENT_DATE] - [APPOINTMENT_TIME] </p>
<p> Datos del cliente: </p>
  <ul>
	<li>Nombre: [CLIENT_NAME]</li>
	<li>Phone: [CLIENT_PHONE]</li>
	<li>Email: [CLIENT_EMAIL]</li>
  </ul>
<p>Cantidad a pagar por el cliente : [AMOUNT]</p>
<p>Nombre del personal: [STAFF_NAME]</p>
<p>[APPOINTMENT_BODY]</p>



To Staff

New Appoinment Notification

<p> Hola [STAFF_NAME], </p>
<p> Tu id de la reserva: [APPOINTMENT_ID] </p>
<p> Servicio: [SERVICE]</p>
<p> Día y hora [APPOINTMENT_DATE] - [APPOINTMENT_TIME] </p>
<p> Datos del cliente: </p>
  <ul>
	<li>Nombre: [CLIENT_NAME]</li>
	<li>Phone: [CLIENT_PHONE]</li>
	<li>Email: [CLIENT_EMAIL]</li>
  </ul>
<p>[APPOINTMENT_BODY]</p>


Notification to the staff regarding modified Appointment


<p> Hola [STAFF_NAME], </p>
<p> Tu id de la reserva: [APPOINTMENT_ID]  fué modificada </p>
<p> Servicio: [SERVICE]</p>
<p> Día y hora [APPOINTMENT_DATE] - [APPOINTMENT_TIME] </p>
<p> Datos del cliente: </p>
  <ul>
	<li>Nombre: [CLIENT_NAME]</li>
	<li>Phone: [CLIENT_PHONE]</li>
	<li>Email: [CLIENT_EMAIL]</li>
  </ul>
<p>[APPOINTMENT_BODY]</p>



Notification to the staff regarding Deleted / Declined Appointment


<p> Hola [STAFF_NAME], </p>
<p> Tu id de la reserva: [APPOINTMENT_ID]  fué borrada / rechazada </p>
<p> Servicio: [SERVICE]</p>
<p> Día y hora [APPOINTMENT_DATE] - [APPOINTMENT_TIME] </p>
<p> Datos del cliente: </p>
  <ul>
	<li>Nombre: [CLIENT_NAME]</li>
	<li>Phone: [CLIENT_PHONE]</li>
	<li>Email: [CLIENT_EMAIL]</li>
  </ul>
<p>[APPOINTMENT_BODY]</p>


Evening notification with the next day agenda to Staff Member

<p> Hola [STAFF_NAME], </p>
<p>Tu agenda para meñana es: </p>
<p>[TOMORROW_AGENDA]</p>




To Customer


Notification to the client regarding Deleted / Declined Appointment

<p> Hola [CLIENT_NAME], </p>
<p> Tu id de la reserva : [APPOINTMENT_ID]  fué borrado / Rechazado </p>
<p> Servicio: [SERVICE]</p>
<p> Día y hora [APPOINTMENT_DATE] - [APPOINTMENT_TIME] </p>
<p>[APPOINTMENT_BODY]</p>



Notification to the client regarding modified Appointment

<p> Hola [CLIENT_NAME], </p>
<p> Tu id de la reserva : [APPOINTMENT_ID]  fué modificada </p>
<p> Servicio: [SERVICE]</p>
<p> Día y hora [APPOINTMENT_DATE] - [APPOINTMENT_TIME] </p>
<p> Total a pagar : [AMOUNT]</p>
<p>[APPOINTMENT_BODY]</p>
<p></p>
<p>Gracias por escogernos.</p>

Notification to the client about new Appointment

<p> Hola [CLIENT_NAME], </p>
<p> El id de tu nueva reserva es: [APPOINTMENT_ID] </p>
<p> Servicio: [SERVICE]</p>
<p> Día y hora [APPOINTMENT_DATE] - [APPOINTMENT_TIME] </p>
<p> Total a pagar : [AMOUNT]</p>
<p>[APPOINTMENT_BODY]</p>
<p></p>
<p>Gracias por escogernos.</p>